

main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.game-grid {
  border: 1px solid black;
  width: 40vw;
  height: 80vw;
  display: flex;
  flex-wrap: wrap;
}

.tetromino-queue {
  border: 1px solid black;
  width: 34vw;
  height: 23vw;
  display: flex;
  flex-wrap: wrap;
}
.tetromino-hold {
  border: 1px solid black;
  width: 34vw;
  height: 23vw;
  display: flex;
  flex-wrap: wrap;
}

.game-grid div {
  

}

.shadow{
  background-color: darkgrey;
  width: 80%;
  height: 80%;
}
.grey {
  background-color: grey;
  border: 3px solid black;
  width: 80%;
  height: 80%;
}

.lightBlue {
  background-color: lightblue;
  border: 3px solid black;
  width: 80%;
  height: 80%;
}

.yellow {
  background-color: yellow;
  border: 3px solid black;
  width: 80%;
  height: 80%;
}

.purple {
  background-color: purple;
  border: 3px solid black;
  width: 80%;
  height: 80%;
}

.darkBlue {
  background-color: darkblue;
  border: 3px solid black;
  width: 80%;
  height: 80%;
}

.orange {
  background-color: orange;
  border: 3px solid black;
  width: 80%;
  height: 80%;
}

.green {
  background-color: green;
  border: 3px solid black;
  width: 80%;
  height: 80%;
}

.red {
  background-color: red;
  border: 3px solid black;
  width: 80%;
  height: 80%;
}

