

.game-grid {
  border: 1px solid black;
  width: 50vw;
  height: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.game-grid div {
  /*background-color: red;*/

}

.purple {
  background-color: purple;
  border: 3px solid black;
  width: 80%;
  height: 80%;
}

.grey {
  background-color: grey;
  border: 3px solid black;
  width: 80%;
  height: 80%;
}