
body{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: darkslategray;
}
main, #game, #controls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 95vh;

  
}

.main-menu-grid {
  border: 1px solid black;
  width: 64vh;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #452b68;
}

#options{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40vh;
  padding: 50px;
}

.game-grid {
  borer: 1px solid black;
  width: 51.3vh;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #452b68;
}

.side-bar{
  height: 90vh;
}

.tetromino-queue {
  boder: 1px solid black;
  width: 25.6vh;
  height: 21.5vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #452b68;
}
.tetromino-hold {
  brder: 1px solid black;
  width: 25.6vh;
  height: 21.5vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #452b68;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.shadow{
  background-color: darkgrey;
  width: 80%;
  height: 80%;
}
.grey {
  background-color: grey;
  border: 4px solid black;
  border-top: 4px solid #dadada;
  border-left: 4px solid grey;
  width: 70%;
  height: 70%;
}

.lightBlue {
  background-color: #1eb9c7;
  border: 4px solid #1a6267;
  border-top: 4px solid #00d4ff;
  border-left: 4px solid #1eb9c7;
  width: 70%;
  height: 70%;
}

.yellow {
  background-color: #f3f500;
  border: 4px solid #888900;
  border-top: 4px solid #f9f9a0;
  border-left: 4px solid #f3f500;
  width: 70%;
  height: 70%;
}

.purple {
  background-color: #964ff1;
  border: 4px solid #523c6f;
  border-top: 4px solid #bd9be9;
  border-left: 4px solid #964ff1;
  width: 70%;
  height: 70%;
}

.darkBlue {
  background-color: #0c2ce4;
  border: 4px solid #071a89;
  border-top: 4px solid #92a0f3;
  border-left: 4px solid #0c2ce4;
  width: 70%;
  height: 70%;
}

.orange {
  background-color: #f18125;
  border: 4px solid #8c4b15;
  border-top: 4px solid #f9c79f;
  border-left: 4px solid #f18125;
  width: 70%;
  height: 70%;
}

.green {
  background-color: #4cd421;
  border: 4px solid #1f570e;
  border-top: 4px solid #afec9b;
  border-left: 4px solid #4cd421;
  width: 70%;
  height: 70%;
}

.red {
  background-color: #e80d0d;
  border: 4px solid #740707;
  border-top: 4px solid #f69c9c;
  border-left: 4px solid #e80d0d;
  width: 70%;
  height: 70%;
}




/* TO CHANGE SCREENS */

main {
  dislay: none;
}

#game {
  diplay: none;
}

#controls {
  display: none;
}